/* Sembunyikan scrollbar biar rapi di TV */
::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
    color: white;
}

/* Animasi teks neon pas lagi nunggu lagu */
.neon-text {
    text-shadow: 0 0 10px #ff00de, 0 0 20px #ff00de, 0 0 40px #ff00de;
    animation: pulsate 1.5s infinite alternate;
}

@keyframes pulsate {
    100% {
        text-shadow: 0 0 4px #ff00de, 0 0 11px #ff00de, 0 0 19px #ff00de, 0 0 40px #ff00de;
    }

    0% {
        text-shadow: 0 0 2px #ff00de, 0 0 4px #ff00de, 0 0 6px #ff00de, 0 0 10px #ff00de;
    }
}